@media (min-width: 750px) {

    header {
        display: flex;
        /* justify-content: space-between;
        align-items: center;  */
    }
    main {
        display: grid;
    }
    
    #home {
        grid-template-columns: 2fr 1fr;

    }
    
    #discover {
        grid-template-columns: 1fr 2fr ;
    }

    .card {
        margin: 0 10px; /* Add margin between the cards */
        background-color: #3c6e71;
        color: #d9d9d9;
    }
    .nav-menu {
        position: static; /* Remove the fixed positioning */
        top: auto;
        left: auto;
        background-color: transparent;
        flex-direction: row;
        width: auto;
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }
    
    .sidebar {
        width: 25%; /* Set the width of the sidebar */
        position: sticky;
        top: 10px;
        height: calc(100vh - 20px); /* Make the sidebar full height minus 20px for padding */
        /* display: flex; */
        margin: 0 auto;
    }

    .main-content {
        width: 75%; /* Set the width of the main content */
        margin: 0 auto;
    }

    .grid-view {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    .list-view {
        display: block; /* Default display for list view */
    }

    #members {
        display: flex;
        flex-direction: column;
    }

    .main-content img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;
    }
    
    .main-content img:hover {
        transform: scale(1.1);
    }


}
