/* Body Styles */
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
    color: #353535;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header Styles */
header {
    background-color: #284B63;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #3C6E71;
    font-size: 24px;
}

p {
    font-size: 16px;
}

ol, ul {
    padding-left: 20px;
    list-style: none;
}

/* Color Schema Styles */
.color-palette {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.color-box {
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    margin-right: 10px;
}

/* Typography Styles */
/* Define your font styles here */

/* Footer Styles */
footer {
    background-color: #284B63;
    color: #fff;
    text-align: center;
    padding: 10px;
}